#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.change-button {

}

.card-container{
    display: inline-block;
}

.card-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


